<form class="container border border-secondary w-25 p-5 mt-5 bg-light">
    <h1 class="text-center mt-5">Login</h1>
    <h6>{{aim}}</h6>
    <div class="mb-3">
        <input (change)="acnoChange($event)" type="text" name="acno" id="login_acno" [placeholder]="accounts">
    </div>
    <div class="mb-3">
        <input (change)="pswdChange($event)" type="password" name="password" id="login_pswd" placeholder="password">
    </div>
    <button type="button" class="btn btn-primary" (click)="login()">Login</button>
</form>
<div class="text-center fs-5 mt-3">
    <a href="#">forgot password</a> or <a href="./signup.html">signup</a>
</div>
